*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.cartTitle{
    text-align: center;
    align-content:  center;
    background-color: darkgray;
    height: 100px;
}

.prodContainer{
    display: flex;
    gap: 20px;
    align-items: center;
}