*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.cartIconContainer{
    text-align: right;
}

.cartImg{
    cursor: pointer;
}

.headerContainer{
    display: flex;    
    justify-content: center;
    padding: 20px;
}

.logo{
    text-align: left;
    border-radius: 50%;
}

.title{
    align-self: center;
    text-decoration: underline;
    align-content: center;
}

.searchContainer{
    display: flex;
    justify-content: center;
}

#searchInput{
    margin: 8px 0 8px 0;
    border-radius: 8px;
    width: 450px;
    padding-left: 10px;
}

#searchInput::placeholder{
    font-size: 18px;
}

#cardsContainer{
    background-color:steelblue;
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 30px;
}

.productCard{
    background-color: silver;
    height: 300px;
    border-radius: 8px;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

.prodImg{
    width: 150px;
    height: 150px;
}

.prodAddToCartBtn{
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.footer{
    text-align: center;
    height: 200px;
    align-content: center;
}

