*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.cart{
    text-align: right;
}

.headerContainer{
    display: flex;    
    justify-content: center;
    padding: 20px;
}

.logo{
    text-align: left;
    border-radius: 50%;
}

.title{
    align-self: center;
    text-decoration: underline;
    align-content: center;
}

.searchContainer{
    display: flex;
    justify-content: center;
}

#cardsContainer{
    background-color:steelblue;
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    justify-content: center;
    align-items: center;
}

.prodImg{
    width: 150px;
    height: 150px;
}

.footer{
    text-align: center;
}

