*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.cartIconContainer{
    text-align: right;
}

.cartImg{
    width: 55px;
    height: 55px;
    cursor: pointer;
}

/*
.cartItemCount{
    border-radius: 50%;
    background-color: red;
    color: #ffffff;
    width: 30px;
    height: 30px;
    display:inline-block;
    text-align: center;
    align-content: center;
    font-weight: bold;
}*/

.cartTitle{
    text-align: center;
    align-content:  center;
    background-color: darkgray;
    height: 100px;
}

.prodContainer{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.prodImg{
    width: 30px;
    height: 30px;
}

.deleteProdBtn{
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.btn-success{
    background-color: green;
    width: 100px;
    height: 40px;
    border-radius: 8px;
    border: none;
    color: #ffffff;
    margin: 10px;
    cursor: pointer;
}

.btn-danger{
    background-color: red;
    width: 100px;
    height: 40px;
    border-radius: 8px;
    border: none;
    color: #ffffff;
    margin: 10px;
    cursor: pointer;
}