*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.allPurchasesTitle{
    text-align: center;
    background-color:silver;
    height: 100px;
    align-content: center;
}

.purchaseCard{
    background-color: thistle;
    justify-items: center;
    margin: 20px;
}

.detailsProductPurchasedContainer{
    display: flex;
    gap: 30px;
}

.purchaseProdImg{
    width: 30px;
    height: 30px;
}

.moreInfoPurchase{
    display: flex;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;    
}

.moreInfoPurchase:hover{
    background-color: darkgray;
}

.purchaseProdCardMoreInfo{
    background-color:slategrey;
    margin: 20px;
    width: 200px;
    border-radius: 8px;
    padding: 10px;
}

.purchaseProdImgMoreInfo{
    width: 50px;
    height: 50px;
}