*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.allPurchasesTitle{
    text-align: center;
    background-color:silver;
    height: 100px;
    align-content: center;
}

.purchaseCard{
    background-color: thistle;
    justify-items: center;
    margin: 20px;
}

.detailsProductPurchasedContainer{
    display: flex;
    gap: 30px;
}

.purchaseProdImg{
    width: 30px;
    height: 30px;
}