*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.cartIconContainer{
    text-align: right;
}

.cartImg{
    width: 55px;
    height: 55px;
    cursor: pointer;
}

/*
.cartItemCount{
    border-radius: 50%;
    background-color: red;
    color: #ffffff;
    width: 30px;
    height: 30px;
    display:inline-block;
    text-align: center;
    align-content: center;
    font-weight: bold;
}*/

.detailTitle{
    text-align: center;
    background-color: darkgray;
    height: 100px;
    align-content: center;
}

.detailCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.detailImg{
    width: 200px;
    height: 200px;
}

.detailDesc{
    max-width: 400px;
}

.detailQtyContainer{
    display: flex;
    gap: 10px;
    font-size: 18px;
    align-items: center;
}

.detailMinQtyBtn, .detailMaxQtyBtn{
    width: 30px;
    font-size: 20px;
}

.detailBtnContainer{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.detailBuyBtn, .detailAddToCartBtn{
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    width: 150px;
}

.detailBuyBtn:hover, .detailAddToCartBtn:hover{
    background-color:darkgrey;
}

