*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.goToAllPurchasesBtn{
    display: flex;
}

.purchaseProdImg{
    width: 30px;
    height: 30px;
}

.purchasesTitle{
    text-align: center;
    background-color:silver;
    height: 100px;
    align-content: center;
}

.purchaseCard{
    justify-items: center;
    gap: 10px;
}

.detailsProductPurchasedContainer{
    display: flex;
    gap: 30px;
}

.confirmPurchaseBtn{
    background-color: green;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    width: 150px;
    color: #ffffff;
    font-size: 15px;
}

.confirmPurchaseBtn:hover{
    background-color:darkgreen;
}

.displayInfo{
    display: flex;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;    
}

.displayInfo:hover{
    background-color: darkgray;
}

.purchaseProdCardMoreInfo{
    background-color:slategrey;
    margin: 20px;
    width: 200px;
    border-radius: 8px;
    padding: 10px;
}

.purchaseProdImgMoreInfo{
    width: 50px;
    height: 50px;
}

