*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.purchaseProdImg{
    width: 30px;
    height: 30px;
}

.purchasesTitle{
    text-align: center;
    background-color:silver;
    height: 100px;
    align-content: center;
}

.purchaseCard{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.confirmPurchaseContainer{
    justify-items: center;    
    margin-top: 30px;
}

.confirmPurchaseBtn{
    background-color: green;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    width: 150px;
    color: #ffffff;
    font-size: 15px;
}

.confirmPurchaseBtn:hover{
    background-color:darkgreen;
}

